@{
    ViewData["Title"] = "Job listings";
}
<h2>@ViewData["Title"]</h2>

<h2>Volunteer job postings</h2>
<table>
<thead>
<td><h5>Company</h5></td>
<td><h5>Job description</h5></td>
<td><h5>Earnable skills</h5></td>
<td><h5>Hours</h5></td>
<td><h5>Location</h5></td>
<td><h5>Date</h5></td>
</thead>
<tbody>
    <tr>
        <td><img src="~/images/techstars.png" id="TheLogo"> </img></td>
        <td>Come volunteer with other enthusiast for a weekend of networking, learning, mentoring and lot of great experiences. </td>
        <td>Presentation: 2000xp, communication: 1000xp, Teamwork: 500xp</td>
        <td>54</td>
        <td>Odense</td>
        <td>27/10 2018</td>
    </tr>
        <tr>
        <td><img src="~/images/sofar.png" id="TheLogo"> </img></td>
        <td>Volunteer at an intimate concert to be announced, and work in a great environment surrounded by beautiful music </td>
        <td>Bartending: 200xp, Social: 200xp, Management: 100xp</td>
        <td>5</td>
        <td>Odense</td>
        <td>23/6 2018</td>
    </tr>
    
</tbody>
</table>
