@{
    ViewData["Title"] = "Job listings";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Volunteer job postings</p>
<table>
<thead>
<td>Company</td>
<td>Job description</td>
<td> Earnable skills</td>
<td>Hours</td>
<td>Location</td>
<td>Date</td>
</thead>
<tbody>
<td>TechStars - Odense startup week</td>
<td>Come volunteer with other enthusiast for a weekend of networking, learning, mentoring and lot of great experiences. </td>
<td>Presentation, communication, Teamwork</td>
<td>54</td>
<td>Odense</td>
<td>27/10 2018</td>
</tbody>
</table>
