@{
    ViewData["Title"] = "Job listings";
}
<h2>@ViewData["Title"]</h2>

<h2>Volunteer job postings</h2>
<table>
<thead>
<td><h5>Company</h5></td>
<td><h5></h5>Job description</h5></td>
<td><h5></h5>Earnable skills</h5></td>
<td><h5></h5>Hours</h5></td>
<td><h5></h5>Location</h5></td>
<td><h5></h5>Date</h5></td>
</thead>
<tbody>
<td><img src="~/images/techstars.png" id="TheLogo"> </img></td>
<td>Come volunteer with other enthusiast for a weekend of networking, learning, mentoring and lot of great experiences. </td>
<td>Presentation, communication, Teamwork</td>
<td>54</td>
<td>Odense</td>
<td>27/10 2018</td>
</tbody>
</table>
