@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>


<address style="font-size:120%">
    2BDone<br />
    
    Cortex Park, Odense M<br />
    
    <abbr title="Phone">Phone:</abbr>
    +45 91 62 85 41
</address>

<address>
    <strong>Information & Inquieries:</strong> <a href="mailto:info@2bdone.dk">info@2bdone.dk</a><br />
</address>
