@{
    ViewData["Title"] = "";
}


    <!-- Intro Header -->
    <header class="masthead" style="height: 100%;">
      <div class="intro-body">
        <div class="container">
          <div class="row"> 
            <div class="col-9 col-lg-9 mx-auto" style="padding-top:5%;">
              <h1 class="brand-heading" style="margin-bottom: 0px; ">Are you volunteering?</h1>
              <p class="intro-text" style="font-weight: bold;">...do you get enough credit?</p>
              <input type="button" class="btn-default" value="Register" style="margin-top: 10px; width:10%; background-color: #526273; color: white;" />

              
            </div>
            <div class="col-12 col-lg-3 mx-auto" >
            	<img src="~/images/techstars.png" id="TheLogo"> </img>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Features Section -->
    <section id="Features" class="features-section text-center">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 mx-auto">
			<h3>Concept</h3>
		</div>
		<div class="col-lg-6 mx-auto">
			<h5>Provability</h5>
			<p>At StartUp Weekend Odense, you develop a lot of skills, but how do you prove you have obtained these skills? That's where we come in.! </p>
		</div>
		<div class="col-lg-6 mx-auto">
			<h5>Looking for a job?</h5>
			<p>All these hours you put into volunteering can now be profesionally and viably be proven through "ToBeDone". Just sign </p>
     	</div>
        <div class="col-lg-6 mx-auto">
			<h5>Credibility</h5>
			<p>With our trusted platform, users and companies alike get proper validation, of a job well done. When volunteering you effectively obtain experience, which you can show off to interested parties, such as companies, and even integrate with LinkedIn skills.</p>
		</div>
		<div class="col-lg-6 mx-auto">
			<h5>Think not?</h5>
			<p>We have already signed you up, see what your boss has to say about you.</p>
		</div>
		  
        </div>
      </div>
      <hr />
    </section>

    <!-- TV-kanaler Section -->
    <section id="TV-kanaler" class="TV-kanaler-section content-section text-center">
      <div class="container">
      	<div class="row row-eq-height">
      		
	        <div class="col-lg-4 mx-auto">
	          				<h3>Kanaler <p style="font-size: 9px; opacity: 0.1;" >'</p> </h3>
				<table class="table-fill">
			        <thead>
				        <tr>
					        <th>Land </th>
				          	<th>Kanal </th>
				        </tr>
		        	</thead>
		          	<tr>
			          	<td>Danmark </td>
			          	<td>DR1, DR2, TV2 Danmark </td>
		          	</tr>
		          	<tr>
			          	<td>Norge </td>
			          	<td>NRK1, TV2 Norge </td>
		          	</tr>
		          	<tr>
			          	<td>Sverige </td>
			          	<td>SVT1, TV4 </td>
		          	</tr>
		          	<tr>
		          	<td colspan="2" class="text-center"> Vi udvider løbende vores dækning både lokalt og internationalt </td>
		          	</tr>
	          	</table>
	          	</div>
	          	
	          	<div id="priser" class="col-lg-4 mx-auto">
	          <h3>Prismodel - Danmark <p style="font-size: 9px;">Priser ekskl. moms </p> </h3>
	          
	          	<table class="table-fill">
		          	<thead>
	          		</thead>
		          		<tr>
		          			
		          			<td> Antal brugere </td>
		          			<td> Pris pr. måned (kr.) </td>
		          			<td> Pris pr. år (kr.)</td>
		          		</tr>
		          		<tr>
			          		
			          		<td> 1 </td>
			          		<td> 500 </td>
			          		<td> 5.000 </td>
		          		</tr>
		          		<tr> 
			          		
			          		<td> 2-5 </td>
			          		<td> 1.000 </td>
			          		<td> 10.000 </td>
		          		</tr>
		          		<tr>
			          		
			          		<td> 6-∞ </td>
			          		<td> 2.500 </td>
			          		<td> 25.000 </td>
		          		</tr>
	          			<tr>
	          			<td colspan="3">Norsk og svensk medieovervågning kan tilkøbes.</td>
	          			</tr>
	          	</table>
	 	       </div>
		</div>
      </div>
    </section>

    <!-- Kontakt Section -->
    <section id="Kontakt" class="Kontakt-section text-center">
    <hr />
    <!-- Footer -->
	    <footer>
	      <div class="container">
	        <div class="row">
	          <div class="col-lg-8 mx-auto">
					<div class="inner">
						<h2>Kontakt os</h2>
						<ul class="actions">
							<li><span class="icon fa-phone"></span> (45) 51968275</li>
							<li><span class="icon fa-envelope"></span> info@tellie.dk</li>
							<li><span class="icon fa-map-marker"></span> Drewsensvej 4, 5000 Odense C</li>
						</ul>
					</div> 
	          </div>
	        </div>
	      </div>
	    
	 
	
	 
      <div class="container text-center">
      	<div><img src="img/visa.jpg" height="20" /> 
      	<img src="img/MasterCard-logo.png" height="20"/></div>
        			
					© Tellie - 38892622
				
      </div>
    </footer>
    </section>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
	
    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Google Maps API Key - Use your own API key to enable the map feature. More information on the Google Maps API can be found at https://developers.google.com/maps/ -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRngKslUGJTlibkQ3FkfTxj3Xss1UlZDA&sensor=false"></script>

    <!-- Custom scripts for this template -->
    <script src="js/grayscale.min.js"></script>
	<script type="text/javascript"> 
	if ($(window).width() > 560) {
		document.getElementById("changedataplacement").href="#TV-kanaler";
	}
	</script>
