@{
    ViewData["Title"] = "";
}


    <!-- Intro Header -->
    <header class="masthead" style="height: 100%;">
      <div class="intro-body">
        <div class="container">
          <div class="row"> 
            <div class="col-9 col-lg-9 mx-auto" style="padding-top:5%;">
              <h1 class="brand-heading" style="margin-bottom: 0px; ">Are you volunteering?</h1>
              <p class="intro-text" style="font-weight: bold;">...do you get enough credit?</p>
              <input type="button" class="btn-default" value="Register" style="margin-top: 10px; width:10%; background-color: #526273; color: white;" />

              
            </div>
            <div class="col-12 col-lg-3 mx-auto" >
            	<img src="~/images/techstars.png" id="TheLogo"> </img>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Features Section -->
    <section id="Features" class="features-section text-center">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 mx-auto">
			<h3>Concept</h3>
		</div>
		<div class="col-lg-6 mx-auto">
			<h5>Provability</h5>
			<p>At StartUp Weekend Odense, you develop a lot of skills, but how do you prove you have obtained these skills? That's where we come in.! </p>
		</div>
		<div class="col-lg-6 mx-auto">
			<h5>Looking for a job?</h5>
			<p>All these hours you put into volunteering can now be profesionally and viably proven through "ToBeDone". Just sign in, work your hiny off while having fun, and at the end of the day, get rewarded with badges to prove your awesomeness to high-end companies. </p>
     	</div>
        <div class="col-lg-6 mx-auto">
			<h5>Credibility</h5>
			<p>With our trusted platform, users and companies alike get proper validation, of a job well done. When volunteering you effectively obtain experience, which you can show off to interested parties, such as companies, and even integrate with LinkedIn skills.</p>
		</div>
		<div class="col-lg-6 mx-auto">
			<h5>Think not?</h5>
			<p>We have already signed you up, see what your TechStars Odense StartUp Weekend boss has to say about you. We promise you it will be good stuff (Because if it isn't, your boss will be fined by Danish law ;) )</p>
		</div>
		  
        </div>
      </div>
      <hr />
    </section>

    <!-- Kontakt Section -->
    <section id="Kontakt" class="Kontakt-section text-center">
    <hr />
    <!-- Footer -->
	    <footer>
	      <div class="container">
	        <div class="row">
	          <div class="col-lg-8 mx-auto">
                <div class="container text-center">
						<h2>Kontakt os</h2>
						    (45) 51968275
							info@ToBeDone.co
							Cortex Park 26, Campusvej, 5230 Odense
	          </div>
	        </div>
	      </div>
	    
	 
	
	 
      
        			
					© ToBeDone - 38592322
				
      </div>
    </footer>
    </section>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
	
    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Google Maps API Key - Use your own API key to enable the map feature. More information on the Google Maps API can be found at https://developers.google.com/maps/ -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRngKslUGJTlibkQ3FkfTxj3Xss1UlZDA&sensor=false"></script>

    <!-- Custom scripts for this template -->
    <script src="js/grayscale.min.js"></script>
	<script type="text/javascript"> 
	if ($(window).width() > 560) {
		document.getElementById("changedataplacement").href="#TV-kanaler";
	}
	</script>
