@{
    ViewData["Title"] = "";
}

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
      
        <img src="img/tellieLogos/LOGO_V5_1_LINJE_vores.png" id="TheLogo" class="navbar-brand js-scroll-trigger" href="#page-top" > </img>
       
        <button class="navbar-toggler navbar-toggler-right" type="button" style="width:50%;" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
	              	<a class="nav-link js-scroll-trigger" href="#Features">Koncept</a>
            </li>
            <li class="nav-item">
              		<a class="nav-link js-scroll-trigger"  href="#TV-kanaler" onclick="checkWidth()">TV-kanaler</a>
            </li>
			<li class="nav-item">
              		<a class="nav-link js-scroll-trigger" id="changedataplacement" href="#priser">Priser</a>
            </li>
            <li class="nav-item">
              		<a class="nav-link js-scroll-trigger " href="https://system.tellie.dk">Log ind</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Intro Header -->
    <header class="masthead">
      <div class="intro-body">
        <div class="container">
          <div class="row"> 
            <div class="col-12 col-lg-9 mx-auto" style="padding-top:5%;">
              <h1 class="brand-heading" style="margin-bottom: 10px; ">Er du i TV?</h1>
              <p class="intro-text" style="font-weight: bold;">Få Danmarks hurtigste <span id="blackness" >nyhedsovervågning</span> direkte i din inbox</p>
              
            </div>
            <div class="col-12 col-lg-3 mx-auto" >
            	<h5 style="padding: 0px; margin: 0px; color: white; ">Prøv gratis i 14 dage</h5>
            	<br />
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Features Section -->
    <section id="Features" class="features-section text-center">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 mx-auto">
			<h3>Koncept</h3>
		</div>
		<div class="col-lg-6 mx-auto">
			<h5>Notifikationer</h5>
			<p>Hos Tellie kan du følge alle de store nyhedsudsendelser fra Danmark, Sverige og Norge på én gang.
			Vi indekserer 90 danske nyhedsudsendelser ugentligt og gør dem tilgængelige for dig i enkel og overskuelig tekstform. Du får en notifikation i din mailboks senest 3 minutter efter dit emne er nævnt. Vores løsning er fuldautomatisk og fås til markedets absolut mest attraktive pris. </p>
		</div>
		<div class="col-lg-6 mx-auto">
			<h5>Ingen begrænsninger</h5>
			<p>Du betaler en fast månedlig pris. Uanset hvor mange hits og notifikationer du modtager, vil prisen være den samme. Du har ubegrænset antal keywords og kan ændre i dem når du vil. 
			Der er mulighed for at vælge flere lande samt at få flere brugere på jeres løsning. Når først disse ting er besluttet, ligger prisen fast. Der er ingen overraskelser. </p>
     	</div>
        <div class="col-lg-6 mx-auto">
			<h5>Selvbetjening</h5>
			<p>Vi tror på enkelhed og responsiveness. Hos Tellie opretter du selv din profil og du bestemmer selv, hvad du vil søge efter og hvornår. Fra dit personlige dashbord kan du frit ændre, slette og tilføje nye søgeord når som helst det passer dig. </p>
		</div>
		<div class="col-lg-6 mx-auto">
			<h5>Nyhedsarkiv</h5>
			<p>Hvis du har brug for at gå tilbage i tid og skabe dig overblik, kan du altid søge i vores nyhedsarkiv. Det opdateres live mens udsendelserne er i luften. I Tellies nyhedsarkiv kan du finde samtlige indslag fra samtlige nyhedsudsendelser. Adgangen til nyhedsarkivet er automatisk en del af dit abonnement hos Tellie.</p>
		</div>
		  
        </div>
      </div>
      <hr />
    </section>

    <!-- TV-kanaler Section -->
    <section id="TV-kanaler" class="TV-kanaler-section content-section text-center">
      <div class="container">
      	<div class="row row-eq-height">
      		
	        <div class="col-lg-4 mx-auto">
	          				<h3>Kanaler <p style="font-size: 9px; opacity: 0.1;" >'</p> </h3>
				<table class="table-fill">
			        <thead>
				        <tr>
					        <th>Land </th>
				          	<th>Kanal </th>
				        </tr>
		        	</thead>
		          	<tr>
			          	<td>Danmark </td>
			          	<td>DR1, DR2, TV2 Danmark </td>
		          	</tr>
		          	<tr>
			          	<td>Norge </td>
			          	<td>NRK1, TV2 Norge </td>
		          	</tr>
		          	<tr>
			          	<td>Sverige </td>
			          	<td>SVT1, TV4 </td>
		          	</tr>
		          	<tr>
		          	<td colspan="2" class="text-center"> Vi udvider løbende vores dækning både lokalt og internationalt </td>
		          	</tr>
	          	</table>
	          	</div>
	          	
	          	<div id="priser" class="col-lg-4 mx-auto">
	          <h3>Prismodel - Danmark <p style="font-size: 9px;">Priser ekskl. moms </p> </h3>
	          
	          	<table class="table-fill">
		          	<thead>
	          		</thead>
		          		<tr>
		          			
		          			<td> Antal brugere </td>
		          			<td> Pris pr. måned (kr.) </td>
		          			<td> Pris pr. år (kr.)</td>
		          		</tr>
		          		<tr>
			          		
			          		<td> 1 </td>
			          		<td> 500 </td>
			          		<td> 5.000 </td>
		          		</tr>
		          		<tr> 
			          		
			          		<td> 2-5 </td>
			          		<td> 1.000 </td>
			          		<td> 10.000 </td>
		          		</tr>
		          		<tr>
			          		
			          		<td> 6-∞ </td>
			          		<td> 2.500 </td>
			          		<td> 25.000 </td>
		          		</tr>
	          			<tr>
	          			<td colspan="3">Norsk og svensk medieovervågning kan tilkøbes.</td>
	          			</tr>
	          	</table>
	 	       </div>
		</div>
      </div>
    </section>

    <!-- Kontakt Section -->
    <section id="Kontakt" class="Kontakt-section text-center">
    <hr />
    <!-- Footer -->
	    <footer>
	      <div class="container">
	        <div class="row">
	          <div class="col-lg-8 mx-auto">
					<div class="inner">
						<h2>Kontakt os</h2>
						<ul class="actions">
							<li><span class="icon fa-phone"></span> (45) 51968275</li>
							<li><span class="icon fa-envelope"></span> info@tellie.dk</li>
							<li><span class="icon fa-map-marker"></span> Drewsensvej 4, 5000 Odense C</li>
						</ul>
					</div> 
	          </div>
	        </div>
	      </div>
	    
	 
	
	 
      <div class="container text-center">
      	<div><img src="img/visa.jpg" height="20" /> 
      	<img src="img/MasterCard-logo.png" height="20"/></div>
        			
					© Tellie - 38892622
				
      </div>
    </footer>
    </section>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
	
    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Google Maps API Key - Use your own API key to enable the map feature. More information on the Google Maps API can be found at https://developers.google.com/maps/ -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRngKslUGJTlibkQ3FkfTxj3Xss1UlZDA&sensor=false"></script>

    <!-- Custom scripts for this template -->
    <script src="js/grayscale.min.js"></script>
	<script type="text/javascript"> 
	if ($(window).width() > 560) {
		document.getElementById("changedataplacement").href="#TV-kanaler";
	}
	</script>
